@model int
@inject WebApplication1.Interface.ISanPhamService SanPhamservice;
@inject WebApplication1.Interface.ITheLoaiService TheLoaiService;
@using WebApplication1.Entites;

@if (SanPhamservice.SanPhamTheoID(Model) == null)
{
    <div class="single-product-area">
        <div class="container">
            <div class="col-md-8">
                <h2 class="text-danger">Không tồn tại sản phẩm</h2>
            </div>
        </div>
    </div>
}
else
{
<div class="single-product-area">
    <div class="container">
        <div class="row">
            @{ SanPham sp = SanPhamservice.SanPhamTheoID(Model);
                LoaiGiay loaisp = TheLoaiService.LaytheoID(sp.Loai.Value);}

            @await Component.InvokeAsync("SanPhamLienQuan", new { @id = loaisp.Id})
            
            <div class="col-md-8">
                <div class="product-content-right">

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="product-images">
                                <div class="product-main-img">
                                    <img src="@Url.Content("~/images/" + sp.HinhAnh)" alt="">
                                </div>

                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="product-inner">
                                <h2 class="product-name">@sp.TenSanPham</h2>
                                <div class="product-inner-price">
                                    <ins>@String.Format("{0:0,0}", sp.Gia) VNĐ</ins>
                                </div>

                                <form action="" class="cart">                
                                    <a class="add_to_cart_button" asp-action="Themgiohang" asp-controller="GioHang" asp-route-idSP="@sp.Id" asp-route-url="@Context.Request.Path.ToString()">Mua hàng</a>
                                </form>

                                <div class="product-inner-category">
                                    <p>Loại giày: <a asp-action="SanPhamTheoLoai" asp-controller="SanPham" asp-route-id="@loaisp.Id">@loaisp.TenLoai</a></p>
                                </div>

                                <div>

                                    <div>
                                        <div class="tab-pane fade in active">
                                            <h2>Giới thiệu</h2>
                                            <p>@sp.MoTa</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                }