@using WebApplication1.Entites;
@model SanPham
@inject WebApplication1.Interface.ISanPhamService SanPhamservice;
@inject WebApplication1.Interface.ITheLoaiService TheLoaiService;


@section header{
    Sửa sản phẩm
}

@if (ViewBag.KhongTonTai != null)
{
    <div class="single-product-area">
        <div class="container">
            <div class="col-md-8">
                <h2 class="text-danger">Không tồn tại sản phẩm</h2>
            </div>
        </div>
    </div>
}
else
{
    <span class="text-success">@ViewBag.ThanhCong</span>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="single-product-area">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="product-content-right">

                        <div class="row">
                            <div class="col-sm-5">
                                <div class="product-images">
                                    <div class="product-main-img">
                                        <img style="max-width:100%;height:auto" src="@Url.Content("~/images/" + Model.HinhAnh)" alt="">
                                    </div>

                                </div>
                            </div>

                            <form asp-action="SuaSanPham" asp-controller="SanPhamAd" method="post" enctype="multipart/form-data" class="col-sm-6">
                                @Html.AntiForgeryToken()
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Mã sản phẩm</label>
                                        <div class="col-md-8">
                                            <input asp-for="Id" class="form-control"readonly />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Tên sản phẩm</label>
                                        <div class="col-md-8">
                                            <input asp-for="TenSanPham" class="form-control" />
                                            <span asp-validation-for="TenSanPham" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Giá bán</label>
                                        <div class="col-md-8">
                                            <input type="number" asp-for="Gia" class="form-control" />
                                            <span asp-validation-for="Gia" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Số lượng</label>
                                        <div class="col-md-8">
                                            <input asp-for="SoLuong" class="form-control" />
                                            <span asp-validation-for="SoLuong" class="text-danger"></span>
                                        </div>
                                    </div>
                                    @{var listLoaiSP = TheLoaiService.DanhSachLoaiSP().Select(x => x.TenLoai); }
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Loại sản phẩm</label>
                                        <div class="col-md-8">
                                            <select asp-for="Loai" asp-items="@TheLoaiService.DanhSachLoaiSP().OrderBy(x=>x.TenLoai).Select(x=>new SelectListItem {Text=x.TenLoai,Value=x.Id.ToString() })" class="form-control"></select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Hình ảnh</label>
                                        <div class="col-md-8">
                                            <input class="form-control" type="file" name="pic" accept="image/*" />
                                            <span class="text-danger">@ViewBag.ThongBao</span> 
   
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Mô tả</label>
                                        <div class="col-md-8">
                                            <input asp-for="MoTa" class="form-control" />
                                            <span asp-validation-for="MoTa" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Sửa sản phẩm" class="btn btn-default" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                    }
<div style="clear:both"></div>
<div class="text-center">
    <a style="cursor:pointer" asp-controller="Home" asp-action="Index">Trở về trang danh sách</a>
</div>

