@model List<WebApplication1.Entites.GioHang>
@inject WebApplication1.Interface.ISanPhamService SanPhamService 
<div class="single-product-area">
    <div class="container">
        <div class="row">
            <div class="col-md-4">

                <div class="single-sidebar">
                    <h2 class="sidebar-title">Sản phẩm HOT</h2>
                    @foreach (var item in SanPhamService.GiayNamPartial())
                    {    <div class="thubmnail-recent">
                        <img src="@Url.Content("~/images/" + item.HinhAnh)" class="recent-thumb" alt="">
                        <h2><a asp-action="ChiTietSanPham" asp-controller="SanPham" asp-route-id="@item.Id">@item.TenSanPham</a></h2>
                        <div class="product-sidebar-price">
                            <ins>@String.Format("{0:0,0}", item.Gia) VNĐ</ins>
                        </div>
                    </div>
                    }
                    @foreach (var item in SanPhamService.GiayNuPartial())
                    {    <div class="thubmnail-recent">
                        <img src="@Url.Content("~/images/" + item.HinhAnh)" class="recent-thumb" alt="">
                        <h2><a asp-action="ChiTietSanPham" asp-controller="SanPham" asp-route-id="@item.Id">@item.TenSanPham</a></h2>
                        <div class="product-sidebar-price">
                            <ins>@String.Format("{0:0,0}", item.Gia) VNĐ</ins>
                        </div>
                    </div>
                    }
                 
                </div>
            </div>

            <div class="col-md-8">
                <div class="product-content-right">
                   
    
                    <div class="woocommerce">
                        <h2 class="sidebar-title text-center">Giỏ hàng của bạn</h2>
                        <form method="post" action="#">
                            <table cellspacing="0" class="shop_table cart">
                                <thead>
                                    <tr>
                                        <th class="product-remove">&nbsp;</th>
                                        <th class="product-thumbnail">&nbsp;</th>
                                        <th class="product-name">Sản phẩm</th>
                                        <th class="product-price">Giá</th>
                                        <th class="product-quantity">Số lượng</th>
                                        <th class="product-subtotal">Thành tiền</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
@foreach (var item in Model)
{
                                    <tr class="cart_item">
                                       
                                        <td class="product-remove">
                                            <a asp-action="XoaGioHang" asp-controller="GioHang" asp-route-masp="@item.Id" title="Xóa sản phẩm này" class="remove">×</a>
                                            <a style="cursor:pointer" title="Sửa giỏ hàng" class="remove" id="@Url.Content("btnXoaGioHang"+item.Id)" onclick="SuaGioHang(@item.Id)"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                        </td>
                                        <td class="product-thumbnail">
                                            <a><img width="145" height="145" alt="poster_1_up" class="shop_thumbnail" src="@Url.Content("~/images/" + item.HinhAnh)"></a>
                                        </td>
                                        <td class="product-name">
                                            <a href="single-product.html">@item.TenSanPham</a>
                                        </td>
                                        <td class="product-price">
                                            <span class="amount">@String.Format("{0:0,0}", item.Gia)</span>
                                        </td>
                                        <td class="product-quantity">
                                            <div class="quantity buttons_added">

                                                <input type="number" size="4" class="input-text qty text" title="Qty" value="@item.SoLuong" min="1" step="1" id="@Url.Content("txtSoLuong"+item.Id)">

                                            </div>
                                        </td>
                                        <td class="product-subtotal">
                                            <span class="amount">@String.Format("{0:0,0}", item.ThanhTien)</span>
                                        </td>

                                    </tr>
}
                                    <tr>
                                        <td colspan="6" style="text-align:right" id="currency-no-fractions"> Tổng cộng: @String.Format("{0:0,0}", ViewBag.TongCong) VNĐ</td>
                                    </tr>
                                    <tr>
                                        @if (Model.Count !=0)
                                        {
                                            <td class="actions" colspan="6">
                                                <a asp-action="ThanhToan" asp-controller="DonHang" style="cursor:pointer" name="proceed" class="btn btn-success">Tiến thành thanh toán </a>
                                            </td>

                                        }
                                        else
                                        {

                                            <td class="actions" colspan="6">
                                                
                                            </td>
                                        }

                                    </tr>
                                </tbody>
                            </table>
                            
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                    
@section jsFooter{
    <script>
       function SuaGioHang(id) {
                var soluong = parseInt($("#txtSoLuong"+id).val());
                
                $.ajax({
                    type: 'POST',
                    data: {masp:id,txtsoluong:soluong},
                    url: '@Url.Action("SuaGioHang", "GioHang")',
                    datatype: 'json',
                    success: function (resp) {
                        if (resp.data == "success") {
                            location.reload();

                        }
                        
                    }
                })
            }

        
    </script>

}